*{
margin: 0;
padding: 0;
}
.head_header {
display: flex;
justify-content: space-between;
}
.header_logo {
padding: 9px 0 0 15px;
}
.apple {
width: 30px;
cursor: pointer;
}
.page_link {
text-decoration: none;
color: black;
cursor: pointer;
padding: 0 20px 0 20px;
}
.page_list {
padding: 20px 10px 0;
}
.site {
width: 30px;
cursor: pointer;
padding: 0 2px;
}
.head__logo {
padding: 15px 15px 0 0;
}