*{
    padding: 0;
    margin: 0;
}
body {
    background-color: rgb(9, 9, 84);
}
.container1{
    padding: 20px 20px 40px 20px;
    margin: auto;
    max-width: 1110px;
   
    
}
header {
    
    /* padding: 20px 0; */
    margin: 20;
    background-color: white;
}
.logo {
    margin-right: 50px;
    text-decoration: none;
    color: grey;
    font-size: 35px;
    
}
.fb {
    max-width: 40px;
    text-decoration: none;
}
.twitter {
    max-width: 30px;
}
.tb {
    text-decoration: none;
    color: black;
}
header img{
    display: inline-block;
    max-width: 30px;
}
header a {
    font-family: 'Montserrat', sans-serif;
}
header .container1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ImgLogistics {
    max-width: 100%;
    margin-left: 120px;
    position	: relative;
}
.SectionLogistics {
    max-width: 700px;
    /* padding: 10px; */
    margin: 10px 20px 20px 20px;
    background-color: rgb(9, 9, 84);
    /* padding: 10px 10px 10px 10px; */
}
.SectionLogistics h2 {
    position	: absolute;
	top		: 40%;
	left		: 15%;
    color: white;
	/* width		: 100%; */
}