*{
    margin: 0px;
    padding: top ;
}
.icon{
    font-size: 30px;
    color: lightgrey;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 5px;
}
.header{
    display: flex;
justify-content: space-around;
      
}
.a{
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    text-decoration: none;
   cursor: pointer;
   padding: 15px 40px 20px 20px;
    
}
.pic{
  
 
  display: flex;
  justify-content: space-around;
   padding: 5px;
  margin: 5px 5px 20px 5px;
    
}
.img{
    padding: 5px;
    width: 25px; 
}
.bild{
   position: relative;
   color: white;
   text-align:center
}
.text{
    position: absolute;
   top: 50%;
   left: 5%;
  font-size: 50px;
}
.block{
  position: absolute;
display:flex;

font-size: large;
width: 300px;
background-color: aqua;
text-align:left ;

}
.block1{
    background-color: black;
    width: 400px;
    
}




    