*{
    margin: 5px;
}
.icon{
    font-size: 30px;
    color: lightgrey;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.header{
    display: flex;
    flex-direction: row;
  justify-content: space-between;
   
}
.p{
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
}
.pic{
  width: 20px; 
  height: 20px;   
}
