*{
    margin: 0;
    padding: 0;
   }

.one{
    background-color: black;
    display: flex;
    justify-content: space-between;
    color: white;
}
.fix{
    
   
}
.fix_1{
    border-radius: 50%;
    background-color: palevioletred;
    text-align: center;
      width: 130px;
 padding: 130px;
margin: auto;
margin-right: 100px;

}
.mir{
    color: white;
    font-size: 80px;
    padding: 40px 60px;
    font-family: Arial, Helvetica, sans-serif;
}
.button{
    border-radius: 50%;
    background-color: palevioletred;
    color: white;
    width: 32px;
    padding: 32px;
  font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;

   margin: -30px 70px;
   text-align: center;
 
     
   }
   .mir_1{
    padding:50px 0 5px;
    color: white;
    width: 350px;
margin: 230px 60px ;
   }
   
   .button3{
    font-size: 75px;
    
   
}
.but_p{
    font-size: 13px;
    color: white;}

 
.two{
    background-color: black;}
  
.hhh{
    color: white;
    font-size: 80px;
    padding: 3px 60px;
    font-family: Arial, Helvetica, sans-serif;
}
.ppp{
    font-size: 10px;
    color: grey;
    margin: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.main_two{
    display: flex;

}
.foto_1{
    width: 45%;
    padding: 50px 40px 0px 0px;
}
.girl{
    width:550px;
    padding: 210px 0 0 0;
}
.table{
  width: 650px;
  margin-top: 125px;}
  
.logo_1{
    width: 65px;
    background-color: plum;
    border-radius: 50%;
    margin-bottom: -45px;
 margin-left: -50px;
   
    
}

.table_h{
font-size: large;
font-family: Arial, Helvetica, sans-serif;
color: white;
padding: 0 50px;
}
.table_p{
    font-size: 10px;
    color: grey;
    margin:30px 100px 0 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.table_1{
    padding-top: 70px;
}
.main_3{
    background-image: url(./img/pexels-guillaume-meurice-2815033.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:700px;
  
}
.table_h3{
    font-size: 70px;
font-family: Arial, Helvetica, sans-serif;
color: white;
padding: 50px 50px 0;
margin-bottom: 50px;

}
.table_p3{
    font-size: 20px;
    background-color:white;
    border-radius: 50%;
    padding: 20px;
    text-align:center;
    width: 20px;
   margin: auto;
   margin-left: 20px;
       color: black;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    
    
}
.table_pp3{
    color: white;
    padding: 20px 5px 10px 20px;
    margin:0 20px 20px 0 ;
 
    
}

   
.p-p{
    display: flex;
    justify-content: center;
    background-color:violet;
  padding: 0 20px 30px 0;
    margin: 0px 40px 0px 40px;
    border-top: 1px solid gray;
    
     
}
.inst{
    border-radius: 50%;
    width: 200px;

    
}
.main_4{
    background-color: black;
    color: white;
     }
.face{
   border-radius: 50%;
    width: 40px;
    margin-top: 40px;
  
    margin-left: 10px;
}
.inst_2{
    display: flex;
    padding-top: 40px;
 
}
.inst_1{
    text-align: center;
    width: 300px;
    padding-left: 50px;
}
.inst_h{

}
.inst_p{
    padding-top: 30px;
}
.set{
    display: flex;
    justify-content: space-around;
   }
.inst_3{
   margin-top: 50px;
}