*{
    margin: 0px;
    padding: top ;
}
.icon{
    font-size: 30px;
    color: lightgrey;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.header{
    display: flex;
justify-content: space-around;
   

   
}
.a{
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    text-decoration: none;
   cursor: pointer;
   padding: 10px 20px 0 20px;
    
}
.pic{
  width: 30px; 
  height: 30px; 
  display: flex;
   padding: 5px;
  margin: 5px 10px 20px 5px;
    
}

